<div style="text-align: left;">


<h3>
  Formulaire de Consentement Informé
</h3>

<p>
   Vous êtes invités à participer à une étude dirigée par Viviane Deprez, directrice de recherche au CNRS et professeur à l'Université de Rutgers et Jeremy Yeaton, masterien à l’École normale supérieure en Sciences Sociales. Le but de cette étude est de mieux comprendre la relation entre interprétation et prosodie dans certaines phrases négatives du français. Il vous faudra lire des phrases en contexte et choisir entre deux enregistrements celui qui vous semble le mieux adapté.
</p>

<p>
  30 sujets participeront à cette étude. Cette étude est confidentielle, ce qui signifie que les informations de cette recherche incluront quelques données personnelles. Ces informations seront conservées de telle façon qu’un lien entre votre identité et vos réponses sera impossible. Les informations personnelles incluront votre âge, votre genre, et votre identité linguistique. Ces informations confidentielles seront conservées au Laboratoire de Syntaxe Comparative et Expérimentale. L'équipe de recherche et l’Institutional Review Board à Rutgers sont les seuls partis qui auront accès à ces données sauf si mandaté par la loi. Seuls des résultats de groupe seront utilisés, si cette étude donne lieu à une publication où une présentation à une présentation professionnelle, seul des résultats de groupe seront utilisés. La participation à cette étude ne présente aucun risque anticipé.
</p>
<p>
  La participation à cette étude est volontaire. C'est vous qui décidez de participer ou non et vous pouvez vous retirer à n'importe quel moment sans conséquence. Vous êtes libre de ne pas répondre aux questions qui vous dérangent.

  Les résultats de cette expérience ne vous seront communiqués que sur requête expresse.
</p>

<%= continueButton("JE CONSENS") %>

</div>
