<div style="text-align: left;">

  <h2>Bienvenue!</h2>
   <p>Merci de votre participation à cette étude sur la perception de l'intonation des phrases négatives.

     <br></br>
     Vous devrez évaluer le sens d'une phrase par rapport à un contexte et

      choisir entre deux enregistrements, celui qui vous semble le plus adapté.
     <br></br>
      Ne reflichissez pas trop. Faîtes confiance à vos oreilles! Cette éxperience vous prendra environ 30 minutes. Encore merci de votre coopération.
   </p>

<p>
<%= continueButton() %>

</div>
