
<div class="trialpartWrapper" style="text-align: left;">

<h2> Instructions pour l’expérience </h2>
<p>
L'expérience inclut 56 phrases en contexte. Pour chacune de ces phrases, vous avez 3 tâches à accomplir.
<br></br>
1 : Évaluer la phrase dans son contexte. Lisez le contexte, puis la phrase et indiquez si, selon vous, celle-ci est VRAIE ou FAUSSE - en cliquant sur les boutons pertinents.
Cliquez SUIVANT pour continuer.
<br></br>
2 : Relisez le contexte. Écoutez les deux enregistrements de la phrase en utilisant les boutons-audios. Vous pouvez réécouter les enregistrements une fois si nécessaire. Choisissez l’enregistrement qui vous paraît le plus adéquat soit 1 soit 2. Ne réfléchissez pas trop! Faîtes confiance à vos oreilles.
Cliquez SUIVANT pour continuer.
<br></br>
3 : Évaluez la confiance que vous avez dans votre choix sur une échelle de 1 à 5 où 1 signifie "pas confiant du tout" et 5 "très confiant".
Cliquez SUIVANT pour passer à la phrase suivante.
<br></br>
Avant de commencer l'expérience, vous aurez quatre essais pour vous entraîner.
<br></br>
Quand vous aurez fini les questions, merci de remplir un bref questionnaire démographique. Cliquez SOUMETTRE VOS RÉPONSES pour finir l'expérience.
</p>

	<%= continueButton() %>
</div>
